/*
  title: base css
  */


/* =global elements
--------------------------------------------- */
body {
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7333;

}
.Absolute-Center {
  width: 75%;
  height: auto;
/*  overflow: visible;
*/  margin: auto;
top: 0; left: 0; bottom: 0; right: 0;
padding-bottom: 50px;
}
a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  margin: 0;
  display: block;
  text-align: center;
}


/* fadeIn */

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  -webkit-animation: fadeIn .5s ease-in-out;
  -moz-animation: fadeIn .5s ease-in-out;
  animation: fadeIn .5s ease-in-out;
}

.touch .animate-fade-in {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
/* ------------------------------------------ */




/* =header
--------------------------------------------- */




/* ------------------------------------------ */

/* =buttons
--------------------------------------------- */
.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
background-image: linear-gradient(top, #fdfdfd, #eaebeb);
border: 1px solid #a9a9a9;
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
color: #4f4f4f;
display: -moz-inline-box;
display: inline-block;
font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
font-size: 11px;
font-weight: bold;
line-height: 20px;
margin: 0;
outline: none;
text-decoration: none;
text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.facebook-button .apprequests {
  background-position: 6px -37px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */


img{
  /*-webkit-animation: fadeIn 2s linear;
  -moz-animation: fadeIn 2s linear;
  animation: spin fadeIn 2s linear;*/
}
.section1{
  width: 100%;
    background-color: #32425c;
    height: auto;
    padding: 25px;
    position: relative;

}
header {
 padding-bottom: 75px;
}
header h1 {
  text-align: center;
}

.section2{
  background-color: #ebeff2;
  color:#4d4d4d;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 100px;
  padding-top: 50px;
}
.section2 h2{
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px; 
}
.section2 h3 {

}
.opener{
  padding-top: 25px;
  padding-bottom: 25px;
}
.results{
  /*width: auto;
  display: inline-block;
  position: relative;
  margin-left: 210px;*/
}
.pic{
/*  width: auto;
  display: inline-block;
  position: absolute;
  margin-right: 400px;*/
}
.pic img{
  margin-top: 5px;
}
.last-wrap{
  width: 100%;
 margin: auto;
top: 0; left: 0; bottom: 0; right: 0;

}
 h3{
  color: #607189;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px dashed;
}
.red{
  color: #e86c78;
  font-weight: bold;

}
.center {
  
   display: block;
left: 0;
position: relative;
top: 0;
width: 100%;
z-index: 1;
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/images/me.jpg) no-repeat;
  }
  .intro{
    font-size: 22px;
  line-height: 1.7em;
  }

  #tagline{
    margin-bottom:20px; 
  }